.banner {
  height: 448px;
  object-fit: cover;
  position: relative;
  color: white;
}
.banner_contents {
  height: 190px;
  padding-top: 140px;
  margin-left: 30px;
}
.banner_title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}
.banner_description {
  line-height: 1.3rem;
  width: 45rem;
  max-width: 360px;
  padding-top: 1 rem;
  font-size: 0.8rem;
  height: 80px;
}
.banner-fadeBottom {
  height: 7.4rem;
  background: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}
.banner_button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  margin-right: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
  padding-bottom: 0.5rem;
}
.banner_button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}
