.nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px;
  height: 30px;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.nav_contents {
  display: flex;
  justify-content: space-between;
}
.nav_logo {
  position: fixed;
  top: 10px;
  left: 0;
  width: 80px;
  object-fit: cover;
  cursor: pointer;
  padding-left: 20px;
}
.nav_avatar {
  position: fixed;
  width: 30px;
  right: 20px;
  cursor: pointer;
}
.nav_black {
  background-color: #111;
}
